{{!< layouts/default}}

<main class="mdl-layout__content" role="main">
  <div class="page-content">

    <div class="mdl-grid fixed-width">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <article class="mdl-cell mdl-cell--8-col">
        <h2>404</h2>
        <p>Page not found!</p>
        <a href="{{@site.url}}">Return to home &raquo;</a>
      </article>
    </div>

  </div>
</main>
