{{!< layouts/default}}

<main class="content" role="main">
  {{> bsa-1  }}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
          {{> "loop"}}
        </div>
        <div class="col-md-4">
          {{> sidebar}}
        </div>
    </div>
  </div>
</main>
