{{!< layouts/default}}

<main class="content" role="main">
  <div class="section section-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 text-sm-left text-center">
          <img alt="Angular Expo" src="{{asset "/img/logo/angular.png"}}" height="60" width="60" style="margin-top: 100px">
          <h1>{{@site.title}}</h1>
          <p>{{@site.description}}</p>
          <div class="form-group">
            <input type="text" placeholder="Success" class="form-control">
          </div>
        </div>
        <div class="col-lg-7">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-8">
          {{> "loop"}}
        </div>
        <div class="col-md-4">
          {{> sidebar}}
        </div>
    </div>
  </div>
</main>
