{{!< layouts/default}}

{{#post}}

<main role="main">
  <div class="page-content">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
          {{> bsa-1  }}
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <a href="{{ url }}">{{title}}</a>
              </div>
            </div>
            <div class="card-body">
              {{content}}
            </div>
          </div>
      </div>
    </div>

  </div>
</main>

{{/post}}
