html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  li {
    list-style: none;
  }
}

.fixed-width {
  max-width: 1200px;
  width: 100%;
  padding: 0;
  position: relative;
}

.vertically-align {
  align-items: center;
}

.mdl-layout__header .logo {
  margin-right: 4px;
}

.mdl-data-table {
  margin-bottom: 28px;
  table-layout: fixed;
  width: 100%;
}

.mdl-data-table th,
.mdl-data-table td {
  text-align: left;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
}

@media screen and (min-width: 760px) {
  .mdl-data-table tr th:nth-child(1){
    width: 20%;
  }

  .mdl-data-table tr th:nth-child(3){
    width: 17%;
  }
}

.mdl-navigation__link[href$="advertise"]:before,
.mdl-navigation__link[href$="advertise/"]:before{
  content: "10% off";
  position: absolute;
  top: 12px;
  right: -5px;
  display: block;
  color: #ff4081;
  border-radius: 2px;
  width: 48px;
  height: 17px;
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
}

/* External links */
.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 12px;
  line-height: inherit;
}

/* Add button */
#add {
  position: absolute;
  right: 40px;
  top: 63px;
  z-index: 999;
}

/* Article */
.mdl-card {
  margin-bottom: 16px;
}

.mdl-cell > .mdl-card {
  width: 100%;
}

.mdl-cell--3-col .mdl-card {
  width: auto;
}

.mdl-grid {
  padding: 0;
}

.mdl-grid.mdl-grid-fs {
  align-items: flex-start;
  align-content: flex-start;
}

.mdl-grid--fill {
  width: 100%;
}

.mdl-card__media {
  margin: 5px;
  display: block;
  overflow: hidden;
}

.mdl-card__media > div {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  overflow: hidden;
}

.mdl-card__media > div:hover {
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  overflow: hidden;
}

.mdl-card__sidebar-item {
  padding: 18px 26px;
}

.mdl-card__media-large > div {
  height: 500px;
}

.mdl-layout.is-small-screen .mdl-card__media-large > div {
  height: 200px;
}

.mdl-card__title {
  padding: 18px 26px;
}

.mdl-card__supporting-text {
  // padding: 8px 26px 18px;
  padding: 4px 26px 14px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.mdl-card__date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 12px 26px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mdl-card__title-text a {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.mdl-card__actions a:hover, .mdl-demo .mdl-card__actions a:active {
  background-color: transparent;
}

.mdl-card__actions a {
  color: rgb(255,64,129);
  margin: 0;
}

.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-card__social {
  padding: 8px 28px;
}

.mdl-card__social a {
  color: #fff;
  margin-right: 8px;
}

.mdl-card__social a i {
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
}

.mdl-button--fab.mdl-button--twitter,
.mdl-button--fab.mdl-button--twitter:hover,
.mdl-button--fab.mdl-button--twitter:active,
.mdl-button--fab.mdl-button--twitter:focus {
  background: #42A5F5;
}

.mdl-button--fab.mdl-button--facebook,
.mdl-button--fab.mdl-button--facebook:hover,
.mdl-button--fab.mdl-button--facebook:active,
.mdl-button--fab.mdl-button--facebook:focus {
  background: #3F51B5;
}

.mdl-button--fab.mdl-button--linkedin,
.mdl-button--fab.mdl-button--linkedin:hover,
.mdl-button--fab.mdl-button--linkedin:active,
.mdl-button--fab.mdl-button--linkedin:focus {
  background: #007BB5;
}

.mdl-button--fab.mdl-button--gplus,
.mdl-button--fab.mdl-button--gplus:hover,
.mdl-button--fab.mdl-button--gplus:active,
.mdl-button--fab.mdl-button--gplus:focus {
  background: #E53935;
}

.mdl-card__social a i:before {
  margin-left: 0;
  margin-right: 0;
}

/* Pagination */
.mdl-paging {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 6px auto;

  &__numbers {
    margin: 0 8px;
  }

  .mdl-button--icon {
    font-size: 22px;
    line-height: 32px;
  }

}



/* Footer */
.mdl-mega-footer__text {
  max-width: 224px;
}

/* Layout */
.mdl-layout__content {
  margin-bottom: 40px;
  margin-top: 40px;
}

.mdl-layout-title {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 91px;

  img {
    display: inline-block;
    height: 62px;
    margin-top: -2px;
    vertical-align: middle;
  }
}

.mdl-layout__header-row {
  padding-left: 30px;
  z-index: 9;
  height: auto;
}

.mdl-layout__header-row h1 {
  font-size: 34px;
  line-height: 40px;
  margin-left: 4px;
}

.mdl-layout.is-small-screen .mdl-layout__header-row h1 {
  font-size: inherit;
}

/* Footer */
.mdl-mega-footer__bottom-section .mdl-mega-footer--link-list,
.mdl-mega-footer__bottom-section .mdl-mega-footer__link-list {
  margin: 13px;
}

/* BSA */
.bsa-center {
  width: 300px;
  display: block;
  // height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto 16px;

  &--spacing iframe {
    margin: 16px auto !important;
  }

  & iframe {
    height: 90px;
  }
}

@media screen and (max-width: 728px) {
  .bsa-center {
    width: 100%;
  }
}
.bsa-center img,
.bsa-center a {
  width: auto !important;
  height: auto;
}

.bsa-footer {
  padding: 24px 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  font-size: 24px;
  font-style: normal;
}


.mdl-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 300px;

  .mdl-textfield {
    width: 100%;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .mdl-dialog {
    width: 100%;
    height: 370px;
    padding: 0;
  }
}

.mdl-dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}


p {
  line-height: 22px;
}

body {
  background: #f3f3f3;
}


#top-nav {
  z-index: 99;

  .mdl-navigation {
    height: 40px;

    &__link {
      opacity: 1;
    }
  }
}


#main-nav {
  .mdl-navigation {
    height: 92px;
  }

  .mdl-navigation__link {
    padding: 34px 18px;
    position: relative;
  }
}

.angular-expo--shadow {
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
}

.mdl-layout__header-row {
  padding: 0;
}

.mdl-mega-footer {
  padding: 0;

  &__middle-section {
    padding: 28px;
    margin-bottom: 0;
  }

  &__bottom-section {
    padding: 14px;
    margin-bottom: 0;
  }

  &__heading {
    border-bottom: 1px solid rgba(255,255,255,.06);
    max-width: 280px;
    padding-bottom: 10px;
  }
}

.mdl-card--no-spacing {
  margin-left: 0;
  margin-right: 0;
}

img.article-image {
    width: 100%;
    height: auto;
}

.mdl-mega-footer__heading-checkbox:checked + .mdl-mega-footer__heading:after,
.mdl-mega-footer__heading-checkbox + .mdl-mega-footer__heading:after {
  content: " ";
}

.mdl-featured {
  display: inline-block;
  margin: 7px 7px 0 7px;
  background-color: #FFA726;
  padding: .4rem .6rem .3rem;
  font-size: 90%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  float: right;
}

/* uncss:ignore */
.content-preview p:nth-of-type(2),
.content-preview p:nth-of-type(3),
.content-preview p:nth-of-type(4),
.content-preview p:nth-of-type(5),
.content-preview p:nth-of-type(6){
    display:none;
}

.mdl-color--white {
    background-color: #fff !important;
}

.mdl-color-text--grey-700 {
    color: #616161 !important;
}

.mdl-color--grey-900 {
    background-color: #212121 !important;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

.mdl-color--black {
    background-color: #111111 !important;
}
.mdl-navigation__link img{
  width: 20px;
  height: 16px;
}
