.btn-round{
  border-radius: 20px;
}

.btn-secondary{
  background-color: #223464;
  color: $white-color;
  border-radius: 30px;
  font-size: $font-size-default;;
  padding: 10px 24px;
  text-transform: uppercase;

  &:hover{
    background-color: #223464;
    color: $white-color !important;
  }
}

.btn-danger, .btn-submit{
  background-image: linear-gradient(120deg, $brand 0%, $brand-state 100%) !important;
}
.btn-outline-danger:hover{
  background-image: linear-gradient(120deg, $brand 0%, $brand-state 100%) !important;
}

.btn-danger{
  border-radius: 30px;
  font-size: $font-size-default;;
  padding: 10px 24px;
  text-transform: uppercase;

  &:hover{
    color: $white-color !important;
  }
}

.fa-github, .fa-twitter{
  font-size: 21px !important;
}

.btn-outline-danger{
  border-radius: 30px;
  font-size: $font-size-default;;
  padding: 10px 24px;
  text-transform: uppercase;
  color: $button-default;

  &:hover{
    color: $white-color !important;
  }
}
