.card{
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
  border-radius: 8px;

  &.card-static{
    display: none;
  }

  .card-header{
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
  }

  .card-title{
    font-size: 18px;
  }

  .card-img-top{
    max-height: 276px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
  }

  .card-footer{
    background-color: transparent;
    border-top: none;
  }

  .card-body{
    padding-top: 0;
  }
}
