body{
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}
a{
  color: $text-primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none !important;
    color: $text-primary !important;
  }
}

.image-svg{
  width: 1100px;
  position: absolute;
  margin-top: -60px;
  right: -2px;
  z-index: -1;
}
.margin-100{
  margin: 100px 0;
}
.post-page-background{
  position: absolute;
  margin-top: -510px;
  z-index: -1;
}
.background-header{
  position: absolute;
  z-index: -1;
  top: -65px;
}
