body{
  background-color: $body-background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}
a{
  color: $text-primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none !important;
    color: $text-primary !important;
  }
}

.image-svg{
  width: 115%;
  position: absolute;
  margin-top: -58px;
  right: 0;
  z-index: -1;
}
.margin-100{
  margin: 100px 0;
}
