.navbar-transparent{
  background: transparent !important;
}
.navbar{
  .navbar-brand,
  .navbar-nav .nav-item .nav-link{
    color: $text-primary;
    font-size: 14px;
    font-weight: 400;
  }
  .navbar-brand{
    font-weight: lighter;
    margin-top: 2px;
    img{
      position: relative;
      top: -2px;
    }
  }
  .nav-social{
    list-style: none;
    .nav-item .btn{
      font-size: 14px;
      font-weight: lighter;
    }
  }
}
