.pagination{
  .page-item .page-link{
    font-size: 14px;
    background: transparent;
    color: $text-primary;
    border: none;
  }
  .page-number{
    font-size: 14px;
    text-transform: uppercase;
    color: $text-primary;
  }
}
