.section-search{
  max-width: 460px;

  .form-search{
    position: relative;

    .form-control-search{
      border-radius: 30px;
      box-shadow: 0 15px 30px 0 rgba(48, 54, 77, 0.1);
      border: none;
      color: $text-primary;
      display: block;
      font-size: 20px;
      font-weight: 300;
      height: 50px;
      line-height: 1.42857;
      padding: 6px 20px;
      vertical-align: middle;
      transition: background-color .2s;
    }
  }
}
.section-header{
  margin-bottom: 150px;

  .form-group.form-subscribe{
    max-width: 260px;

    .form-control{
      border-radius: 30px;
      border: 1px solid $text-primary;
      color: $text-primary;
      display: block;
      font-weight: 300;
    }
  }
}
