.card-tags{
  .card-header{
    h5{
      margin-bottom: 0;
    }
  }
  .card-body{
    .tags-menu{
      list-style: none;
      padding: 0;

      li{
        display: flex;
        border-bottom: 1px solid #D8D8D8;
        padding: 7px 0;

        p{
          margin: 0;
          margin-left: auto;
          right: 10px;
          position: relative;
        }

        a{
          text-transform: uppercase;
        }
      }
    }
  }
}

.card-subscribe{
  p{
    font-weight: lighter;
  }

  .card-body{
    padding-bottom: 30px;

    .form-input{
      .text-input{
        width: 100%;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #D8D8D8;
        color: #999999;
        font-size: 14px;

        &:focus,&:active,&:hover{
          outline: none;

        }
      }
    }

    .submit-button{
      border-radius: 30px;
      font-size: 14px;
      padding: 10px 24px;
      text-transform: uppercase;
      color: $button-default;

      &:hover{
        color: #ffffff;
      }
    }
  }
}
