// Variables

$brand: #FD5D93;
$brand-state: #EC250D;
$button-default: #F44336;

$background-color: #F8F8FF;

$text-primary: #223464;

$card-background: #FFFFFF;
$card-border-color: #707070;
$card-border-radius: 10px;

$card-title: #3C4858;
